html,
body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  color: #222;
}

.mt-0 {
  margin-top: 0;
}

.pt-0 {
  padding-top: 0;
}

.snpt {
  position: relative;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.container pre,
.snippets {
  margin: 0;
  width: 50%;
  padding: 1em 1em 0;
  height: calc(100vh - 1em);
  overflow: auto;
}

.snippets {
  background: #f2f2f2;
}

.header {
  position: relative;
}

.container pre {
  font-size: 18px;
}

.frameworks {
  display: flex;
  margin: 0;
  padding: 0;
}

.frameworks li:first-child {
  margin-left: 0;
}

.frameworks li {
  list-style-type: none;
  margin-left: 1em;
  cursor: pointer;
  position: relative;
}

.frameworks li svg {
  width: 25px;
  vertical-align: middle;
}

.frameworks li svg.svg-icon-vue {
  width: 20px;
}

.frameworks li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #222;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .3s ease-in-out 0s;
}

.frameworks li:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.frameworks li.active:before {
  visibility: visible;
  transform: scaleX(1);
}

.notification {
  height: 40px;
  background: #fff;
  position: absolute;
  right: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  transition: height 5ms;
  border-radius: 5px;
}

.not-active {
  animation: slideIn .1s ease-in;
  top: 1em;
}

.not-inactive {
  animation: slideOut .1s ease-out;
  top: -40px;
}

@keyframes slideIn {
  from {
    top: -40px;
  }
  to {
    top: 10px;
  }
}

@keyframes slideOut {
  from {
    top: 10px;
  }
  to {
    top: -40px;
  }
}

@keyframes mobileSlideIn {
  from {
    bottom: -40px;
  }
  to {
    bottom: 10px;
  }
}

@keyframes slideOut {
  from {
    bottom: 10px;
  }
  to {
    bottom: -40px;
  }
}

@media screen and (max-width: 768px) {
  .container pre,
  .snippets {
    width: 100%;
  }

  .container {
    flex-wrap: wrap;
  }

  .notification {
    top: auto;
  }

  .not-active {
    animation: mobileSlideIn .1s ease-in;
    bottom: 10px;
  }

  .not-inactive {
    animation: mobileSlideOut .1s ease-out;
    bottom: -40px;
  }
}
